.container {
  margin-top: 38.2%;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  align-self: flex-end;
}